body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  caret-color: cadetblue;
}

a {
  cursor: pointer;
}

.container {
  position: fixed;
  inset: 0;
  /* background: red;
  border: 4px solid green; */
  overflow: auto;
  padding: 1rem;
  font-family: "Cascadia Code";

  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/fonts/CascadiaCode.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
