body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  caret-color: #cdff70;
  /* color: rgb(203, 255, 203); */
  color: rgb(254, 203, 255);
  background-color: rgba(0, 0, 0, 0.85);
}

::selection {
  background-color: #cdff70; /* highlight background */
  color: white; /* text color */
}

a {
  cursor: pointer;
}

.container {
  position: fixed;
  inset: 0;
  /* background: red;
  border: 4px solid green; */
  overflow: auto;
  padding: 1rem;
  font-family: "Cascadia Code";

  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/fonts/CascadiaCode.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* .card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 24px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
} */

.card {
  border: 3pt solid rgba(255, 0, 0, 0.5);
  border-radius: 1px;
  padding: 5px;
}
